<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3>Are you ready to stop the struggle and secure your platform?</h3>
                <p class="mt-5">Ryan is ready to partner up and solve the problems involving
                    <br />the development and operations at your company.
                <p>
            </section>
            <section>
                <h4>Credits</h4>
                <ul class="alt">
                    <li><a target="_blank" href="https://github.com/">Github</a></li>
                    <li><a target="_blank" href="https://aws.amazon.com/">Amazon Web Services</a></li>
                    <li><a target="_blank" href="https://templated.co/">Templated.co</a></li>
                    <li><a target="_blank" href="https://pixabay.com/">Pixabay</a></li>
                </ul>
            </section>
            <section>
                <h4>Links</h4>
                <ul class="plain">
                    <!-- <li><a target="_blank" href="https://www.linkedin.com/in/ryan-le-bon/"><i -->
                    <!-- class="icon fa-linkedin">&nbsp;</i>LinkedIn</a></li> -->
                    <!-- <li><a target="_blank" href="https://github.com/ryanlb777"><i class="icon fa-github">&nbsp;</i>Github</a></li> -->
                    <li><a target="_blank" href="https://archiveprogram.github.com/"><i
                                class="icon fa-snowflake-o"></i>Arctic Code
                            Vault Contributor</a></li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            Ryan LeBon LLC &copy; All Rights Reserved.
        </div>
    </div>
</footer>